body {
  background-color: #f8f9fa;
}

h2 {
  color: #343a40;
  font-weight: bold;
}

.table {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table thead th {
  background-color: #007bff;
  color: #ffffff;
  text-align: center;
}

.table tbody td {
  text-align: center;
}

.pagination {
  margin-top: 20px;
}

.pagination .page-link {
  color: #007bff;
}

.pagination .page-item.active .page-link {
  background-color: #007bff;
  border-color: #007bff;
  color: #ffffff; /* Ensures the text is white on blue background */
}

.pagination .page-item.disabled .page-link {
  color: #6c757d;
}

.table-responsive {
  overflow-x: auto;
}
